.box-video {
    width: 100%;
    height: 600px;
    .video-fluid {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.section-one {
    p {
        font-size: 25px !important;
    }
}

.parallax-keyshotweb {
    /* The image used */
    background-image: $imgKeyshotWeb;
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-features {
        @extend .parallax-keyshotweb;
        background-image: $imgKeyshotWebFeatures;
        height: 900px;
        @media (max-width: 575px) {
            height: 1200px !important;
            position: relative !important;
            background-image: unset;
        }
        @media (min-width: 576px) and (max-width: 768px) {
            height: 1350px;
        }
        @media (min-width: 769px) and (max-width:991px) {
            height: 1000px;
        }
    }
}

.relative-box-parallax-keyshotweb {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: white;
    p.lead {
        font-size: 35px !important;
    }
    .h1 {
        margin-top: 80px !important;
    }
    &-features {
        @extend .relative-box-parallax-keyshotweb;
    }
    @media (max-width: 575px) {
        h2.h1 {
            font-size: 30px !important;
            margin: 0px !important;
        }
        p.lead {
            font-size: 25px !important;
        }
    }
}