$imgKeyShot9: url('../../img/keyshot-9-hero-1920-opt.jpg');
$imgCardOne: url('../../img/card-keyshot9.png');
$imgFooter: url('../../img/keyshot-footer-bg-01.jpg');
$imgRelog: url("../../img/keyshot-watch-bg-01.jpg");
$imgKeyshotWeb: url("../../img/keyshotweb-choices.jpg");
$imgKeyshotWebFeatures: url("../../img/keyshotweb-coding.jpg");
$imgTryKeyshot: url('../../img/try-keyshot.webp');
//!
$maxWidth: 960px;
$minTablet: 767px;
//!
//*
$degradeeColor: linear-gradient(45deg,
#67e6ff 0%,
#3f10c0 88%);
$azulOscuro: #13131d;
//*